<div class="container" style="height:80vh">
    <% @gossips.each do |gossip| %>
      <% if gossip.id == @id.to_i%>
      <br>
      <div class="card mb-3 mx-4 card-home" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= gossip.user.first_name %></h5>
        <p class="card-text"><%= gossip.title %></em></p>
        <p class="card-text"><em><%= gossip.content %></em></p>
        <p class="card-text">Potin créé le : <em><%= gossip.created_at.strftime('%d/%m/%Y') %></em></p>
        <hr>
        <a href="<%= author_path(gossip.user_id) %>" class=" btn-auteur btn btn-primary m-3 rounded-pill">Profil de l'auteur</a>
        </div>
      <% end %>
    <% end %>
</div>